{% extends "admin/layout.njk" %}

{% block head %}
    <title>Foodfy | Editando chef</title>
{% endblock %}

{% block content %}

    <div class="chef_edit_title">

        <div class="wrapper_edit">
            <h2>Editando chef</h2>
        </div>

        <form id="form-delete" method="POST" action="/admin/chefs?_method=DELETE">
            <input type="hidden" name="id" value="{{ chef.id }}">
            <button type="submit" class="delete">Deletar</button>
        </form>

        <span>
            <button id="update" type="submit" class="save">Salvar chef</button>
        </span>
        
    </div>

        <form id="form-update" method="POST" action="/admin/chefs?_method=PUT" class="menu">
            <input type="hidden" name="id" value="{{ chef.id }}">

        <section class="details">

            {% include 'admin/chefs/fields.njk' %}

        </section>
    </form>

{% endblock content %}