<header>
    <div class="container">
        <div class="logo">
            <a href="/admin/recipes"><img src="/image/logo.png" alt="logo foodfy"></a>
            {# <a href="/admin/recipes">Foodfy</a> #}
        </div>

        <nav class="primary">
            <ul>
                <li>
                    <a href="/admin/recipes">RECEITAS</a>
                </li>
                <li>
                    <a href="/admin/chefs">CHEFS</a>
                </li>
            </ul>
        </nav>

    </div>    
</header>

<script src="/scripts.js"></script>
