{% extends "layout.html" %}

{% block head %} 
        <title>Sobre - Fran Morais</title>
    {% endblock %}

{% block content %}

<div id="wrapper">
    <img src="https://instagram.fplu9-2.fna.fbcdn.net/v/t51.2885-19/s320x320/80461162_455946308417592_6691935874713649152_n.jpg?_nc_ht=instagram.fplu9-2.fna.fbcdn.net&_nc_ohc=8FGOPZN0ef0AX8j30Wg&oh=858941f0cb21d33d9742b1ae3dea154e&oe=5F21FD4F"
        alt="Fran Morais">
    <h1>Fran Morais</h1>
    <h2>Aluna - Rocketseat</h2>
    <p>Administradora do <a href="https://www.doarei.com.br" target="_blank">Site Doarei</a>. Analista Administrativo no
        <a href="https://www.mg.senac.br" target="_blank">Senac Minas</a>. Aprendendo programação com a <a
            href="https://www.rocketseat.com.br" target="_blank">Rocketseat</a>.</h3>
</div>

<div id="links-footer" class="links">
    <a href="https://github.com/imFranMorais" target="_blank">GitHub</a>
    <a href="https://www.instagram.com/imfranmorais/?hl=pt-br" target="_blank">Instagram</a>
    <a href="https://www.linkedin.com/in/franciellemorais/" target="_blank">LinkedIn</a>
</div>

{% endblock %}
