<!DOCTYPE html>
<html>

    <head>

        {% block head %}
            <title>Foodfy</title>
        {% endblock %}

        <link href="/stylesAdmin.css" rel="stylesheet">

    </head>

    <body>

        <header>
            <div class="container -row">

                <div class="logo">
                    {# <a href="/admin/recipes"><img src="/image/logo.png" alt="logo foodfy"></a> #}
                    <a href="/admin/recipes">Foodfy</a>
                </div>

                <nav class="menu">
                    <a href="/admin/recipes" class="receitas">RECEITAS</a>
                    <a href="/admin/chefs" class="chefs">CHEFS</a>
                </nav>

            </div>

        </header>

        <main>
            <div class="container -column">

                {% block content %}{% endblock %}

            </div>
        </main>

    </body>

    <script src="/scripts.js"></script>

</html>