<!DOCTYPE html>
<html>

    <head>

        {% block head %}
            <title>Foodfy</title>
        {% endblock %}

        <link href="/stylesAdmin.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    </head>

    <body>

        {% include "./parts/header.njk" %}

        {% block content %}{% endblock %}


    </body>

<script src="/scripts.js"></script>

</html>