{% extends "site/layout.njk" %}

{% block head %}
    <title>Foodfy | Chefs</title>
{% endblock %}

{% block logoText %}
    <div class="logo-text">
        <a href="/">Foodfy</a>
    </div>
{% endblock %}

{% block content %}

    <section class="cards_chefs" id="chefs">
        {% for chef in chefs %}
            <div class="card_chef">
                <div class="card_chef__image-container">
                    <img src="{{chef.avatar_url}}" alt="Imagem de {{chef.name}}">
                </div>
                <div class="card_chef__content">
                    <p>{{chef.name}}</p>
                    <span>{{chef.recipes.length}}
                        receitas</span>
                </div>
            </div>
        {% endfor %}
    </section>

{% endblock %}