{% extends "site/layout.njk" %}

{% block head %}
    <title>Foodfy | Início</title>
{% endblock %}

{% block logoImg %}
    <div class="logo">
        <img src="/image/logo.png" alt="logo foodfy">
    </div>
{% endblock %}

{% block filter %}
    <div class="filter">
        <form action="/site/recipes" method="GET">
            <input type="text" name="filter" placeholder="Buscar uma receita" value={{filter} }="}">
            <button type="submit">Buscar</button>
        </form>
    </div>
{% endblock %}

{% block content %}

    <div id="introduction">
        <h1>As melhores receitas</h1>
        <img src="/image/chef.png" alt="Chefe">
        <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
    </div>

    <div class="wrapper_recipes">
        <h2>Mais acessadas</h2>
    </div>

    <section class="cards">

        <section class="cards_recipes">
            {% for recipe in recipes %}
                <div class="card_recipe">
                    <div class="card_recipe__image-container">
                        <img src="{{recipe.image}}" alt="Imagem de {{recipe.name}}">
                    </div>
                    <div class="card_recipe__content">
                        <p>{{recipe.name}}</p>
                        <span>por
                            {{recipe.chef}}</span>
                    </div>
                </div>
            {% endfor %}
        </section>

    </section>

{% endblock %}