<!DOCTYPE html>
<html>

    <head>

        {% block head %}
            <title>Foodfy</title>
        {% endblock %}

        <link href="/styles.css" rel="stylesheet">

    </head>

    <body>

        <header>
            <div class="container -column">

                {% block logoImg %}{% endblock %}

                {% block logoText %}{% endblock %}

                <nav class="menu">
                    <a href="/site/about" class="sobre">Sobre</a>
                    <a href="/site/recipes" class="receitas">Receitas</a>
                    <a href="/site/chefs" class="chefs">Chefs</a>
                    <a href="/site/login" class="entrar">Entrar</a>
                </nav>

                {% block filter %}{% endblock %}

            </div>

        </header>

        <main>
            <div class="container -column">
                {% block content %}{% endblock %}
            </div>
        </main>
    </body>

    <footer>

        <p>Todos direitos reservados, receitas Foodfy.</p>

    </footer>

    <script src="/scripts.js"></script>

</html>