{% extends "site/layout.njk" %}

{% block head %}
    <title>Foodfy | Receitas</title>
{% endblock %}

{% block logoText %}
    <div class="logo-text">
        <a href="/">Foodfy</a>
    </div>
{% endblock %}

{% block filter %}
    <form action="/recipes" method="GET">
        <input type="text" name="filter" placeholder="Buscar uma receita" value={{filter}}>
        <button type="submit">Buscar</button>
    </form>
{% endblock %}
 
{% block content %}

            <section class="recipes_cards">
                {% for recipe in recipes%}
                    <div class="card" id="{{recipe.image}}">
                        <div class="card__image-container">
                            <img src="{{recipe.image}}" alt="imagem de {{recipe.name}}">
                        </div>
                        <div class="card__content">
                            <p>{{recipe.name}}</p>
                        </div>
                        {# <div class="card__info">
                            <p>{{recipe.chef_id}}</p>
                        </div> #}
                    </div>
                {% endfor %}
            </section>
            
{% endblock %}

{# {% block script %}

    <script src="scripts.js"></script>

{% endblock %} #}