{% extends "site/layout.njk" %}

{% block head %}
    <title>Foodfy | Receitas</title>
{% endblock %}

{% block logoText %}
    <div class="logo-text">
        <a href="/">Foodfy</a>
    </div>
{% endblock %}

{% block filter %}
    <form class="search" method="GET" action="/recipes/search" >
        <input 
            type="text" 
            name="filter" 
            placeholder="Buscar uma receita" 
            {% if search.term %}
                value={{search.term}}
            {% endif %}
        >
        <button type="submit">Buscar</button>
    </form>
{% endblock %}

{% block content %}
    <section class="cards_recipes" id="recipes">
        {% for recipe in recipes %}
            <div class="card_recipe">
                <div class="card_recipe__image-container">
                    <img src="{{recipe.image}}" alt="Imagem de {{recipe.name}}">
                </div>
                <div class="card_recipe__content">
                    <p>{{recipe.name}}</p>
                    <span>por
                        {{recipe.chef}}</span>
                    <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
                </div>
            </div>
        {% endfor %}
    </section>

{% endblock %}