{% extends "admin/layout.njk" %}

{% block head %}
    <title>Foodfy | Editando chef</title>
{% endblock %}

{% block content %}

    <section class="admin-edit-title">
        <h3>Editando chef</h3>

    </span>
    <form id="form-delete" method="POST" action="/admin/chefs?_method=DELETE">
        <input type="hidden" name="id" value="{{ chef.id }}">
        <button type="submit" class="delete">Deletar</button>
    </form>
    <span>
        <span>
            <button id="update" type="submit" class="save">Salvar chef</button>
        </span>
    </section>

    <form id="form-update" method="POST" action="/admin/chefs?_method=PUT" class="menu">
        <input type="hidden" name="id" value="{{ chef.id }}">

        <section class="details">

            {% include 'admin/chefs/fields.njk' %}

        </section>
    </form>

{% endblock content %}