{% extends "admin/layout.njk" %}

{% block head %}
    <title>Foodfy | Editando receita</title>
{% endblock %}

{% block content %}

    <section class="container form">
        <form method="POST" action="/admin/recipes?_method=PUT">

            <div class="header">
                <h3>Editando receita</h3>
                <div id="button">
                    <button class="button delete" type="submit">Deletar</button>
                    <button class="button" type="submit">Salvar receita</button>
                </div>
            </div>

            <div class="fields">
                {% include 'admin/recipes/fields.njk' %}
                <input 
                    type="hidden" 
                    name="id" 
                    value="{{recipe.id}}"
                >
            </div>

        </form>
            <form id="form-delete" method="POST" action="/admin/recipes?_method=DELETE">
                <input type="hidden" name="id" value="{{recipe.id}}">
            </form>

    </section>

{% endblock content %}