{% extends "admin/layout.njk" %}

{% block head %}
    <title>Foodfy | Editando receita</title>
{% endblock %}

{% block content %}

    <div class="edit_title">

        <div class="wrapper_edit">
            <h2>Editando receita</h2>
        </div>

        <form id="form-delete" method="POST" action="/admin/recipes?_method=DELETE">
            <input type="hidden" name="id" value="{{ recipe.id }}">
            <button type="submit" class="delete">Deletar</button>
        </form>
        
        <span>
            <button id="update" type="submit" class="save">Salvar receita</button>
        </span> 

    </div>

    <form id="form-update" method="POST" action="/admin/recipes?_method=PUT" class="menu">
        <input type="hidden" name="id" value="{{ recipe.id }}">

        <section class="details">

            {% include 'admin/recipes/fields.njk' %}

        </section>
    </form>

{% endblock content %}