{% extends "admin/layout.njk" %}

{% block content %}

    <div class="card-container">

        <div class="wrapper_recipes">
            <h2>Gerenciar receitas</h2>
        </div>

        <section class="cards_recipes">
            {% for recipe in recipes %}
                <div class="card_recipe">
                    <div class="card_recipe__image-container">
                        <img src="{{recipe.image}}" alt="Imagem de {{recipe.name}}">
                    </div>
                    <div class="card_recipe__content">
                        <p>{{recipe.name}}</p>
                        <span>por {{recipe.chef}}</span>
                        <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
                    </div>
                </div>
            {% endfor %}
        </section>

    </div>

{% endblock content %}