{% extends "admin/layout.njk" %}

{% block content %}

    <div id="recipe_title">
        <h2>Receita: {{recipe.name}}</h2>
        <a href="/admin/recipes/{{recipe.id}}/edit" class="button" id="edit">Editar receita</a>
    </div>
    
    <div id="recipe_image">
        <img src="{{recipe.image}}" alt="">
    </div>

    <div id="recipe_name">
        <h1>{{recipe.name}}</h1>
        <p>por {{recipe.chef}}</p>
    </div>

    <section class="recipe">

        <div class="topic">
            <div class="title">
                <h2>Ingredientes</h2>
            </div>
            <div class="content">
                <ul>
                    {% for ingredient in recipe.ingredients %}
                        <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="topic">
            <div class="title">
                <h2>Modo de Preparo</h2>
            </div>
            <div class="content">
                <ul>
                    {% for preparation in recipe.preparation %}

                        <p>{{preparation}}</p>

                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="topic">
            <div class="title">
                <h2>Informações adicionais</h2>
            </div>
            <div class="content">
                <p>{{recipe.information | nl2br}}</p>
            </div>
        </div>

    </section>

{% endblock content %}