@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: ##6558C3;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style-type: none;
}

html, body {
    min-height: 100vh;
}

body { 
    font-family: 'Helvetica', sans-serif;
 
}

.container { 
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
}

/* HEADER */
header {
    background-color: #111111;
    color: #fff;

    width: 100%;
    padding: 25px 0;

    text-align: center;
}

header div.container {
    display: grid;
    grid-template-columns: 90.6px auto;
    column-gap: 50.4px;
    align-items: center;
}

header div.container a {
    justify-self: start;
}

/* PRIMARY MENU */
nav.primary ul {
    display: flex;
    justify-content: left;
}

nav.primary ul li {
    padding-right: 25px;
    align-items: center;
}

nav.primary ul li a {
    color: #999999;

    font-size: 15px;
    line-height:18px;

    text-align: left;

    transition: 200ms;
}

nav.primary ul li a:hover {
    color: #FFF;
}

nav.primary ul a.active {
    color: #FFF;
}



/* === Admin/Recipes/Index e Admin/Chefs/Index === */
/* .wrapper_chefs h2,
.wrapper_recipes h2 {
    padding-top: 50px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #111111;
    text-align: left;
}

.wrapper_recipes h2 {
    padding-bottom: 30px;
}

.wrapper_chefs h2 {
    padding-bottom: 30px;
}
 
.cards_chefs,
.cards_recipes {
    display: grid;
    column-gap: 20px; 
    box-sizing: border-box;
    max-height: 140px;
}

.cards_recipes {
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    margin-bottom: 50px;
}

.cards_chefs {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 30px;
}

.card_recipe {
    display: grid;
    grid-template-columns: 172px auto;
    column-gap: 20px;
}

.card_chef {
    display: grid;
    grid-template-columns: 64px 1fr;
    column-gap: 20px;
}

.card_recipe__image-container {
    max-width: 172px;
    max-height: 80px;
}

.card_chef__image-container {
    max-width: 64px;
    max-height: 64px;
}

.card_recipe__image-container img {
    border-radius: 8.57px;
    width: 100%;
    height: 100%;
}

.card_chef__image-container img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.card_recipe__content {
    display: grid;
    grid-template-rows: 26px 26px 26px;
}

.card_chef__content {
    display: grid;
    grid-template-rows: 31px 32px;
    padding-top: 10px;
}

.card_chef__content p,
.card_recipe__content p {
    color: #111111;
    font-size: 18px;
    line-height: 21px;
}

.card_recipe__content span {
    color: #777777;
    font-size: 14px;
    line-height: 16px;
}

.card_chef__content a,
.card_recipe__content a {
    color: #6558C3;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    text-decoration: none;
}

/* === Admin/Recipes/Edit e Admin/Recipes/Create  === */
/*
.chef_edit_title,
.recipe_edit_title {
    display: grid;
    gap: 10px;
    padding-top: 50px;
}

.recipe_edit_title {
    grid-template-columns: auto 94px 145px;
}

.chef_edit_title {
    grid-template-columns: auto 94px 126px;

}

.recipe_edit_title {
    padding-bottom: 20px;
}

.chef_edit_title {
    padding-bottom: 26px;
}

.wrapper_edit {
    display: flex;
    align-items: center;
}

.wrapper_edit h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #111111;
}

button[type="submit"].save,
button[type="submit"].delete {
    font-weight: bold;
    padding: 9px 20px;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    box-sizing: border-box;
    text-decoration: none;
}

button[type="submit"].save {
    background-color: #6558C3;
}

button[type="submit"].delete {
    background-color: #DC4747;
}

.details .item {
    margin-bottom: 30px;
}

.details .item div:nth-child(1) {
    font-size: 16px;
    line-height: 19px;
    color: #111111;
    font-weight: bold;
    margin-bottom: 10px;
}

.details .item div:nth-child(2) input,
.details .item div:nth-child(2) select,
.details .item #information textarea{
    color:#111111;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
    font-family: Roboto-Regular;
    border: 1px solid #dddddd;
    background-color: #FFFFFF;
    border-radius: 4px;
    padding: 15px 20px;
    display: block;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.details .item #information textarea{
    height: 257px;
}

button.add-input {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #6558c3;
    text-align: right;
    background-color: #FFFFFF;
    cursor: pointer;
}*/


/* === Admin/Recipes/Show e Admin/Recipes/Create ===  */
/*#chef_title,
#recipe_title,
.chef-create-title,
.recipe-create-title {
    display: grid;
    padding-top: 50px;
} 

#recipe_title,
#chef_title,
.recipe-create-title {
    grid-template-columns: auto 145px;
}

.chef-create-title {
    grid-template-columns: auto 126px;
}

.chef-create-title h3,
.recipe-create-title h3 {
    display: flex;
    align-items: center;
}


#recipe_title,
.recipe-create-title,
.chef-create-title {
    padding-bottom: 20px;
}

#chef_title {
    padding-bottom: 42px;
}

#chef_title h2,
.recipe-create-title,
.chef-create-title,
#recipe_title h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #111111;
}

#chef_title a,
#recipe_title a {
    font-weight: bold;
    padding: 9px 20px;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #6558C3;
    text-align: center;
}

#recipe_image {
    margin-bottom: 50px;
}

#chef_image {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recipe_image img {
    border-radius: 15px;
    width: 100%;
    max-height: 280px;
}

#chef_image img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#chef_name,
#recipe_name {
    text-align: center;
}

#chef_name h1,
#recipe_name h1 {
    font-weight: bold;
    margin-bottom: 4px; 
    font-size: 36px;
    line-height: 42px;
    color: #111111;  
}

#chef_name p,
#recipe_name p {
    color: #777777;
    font-size: 20px;
    line-height: 24px;
}

#recipe_name p {
    margin-bottom: 31px;
}

.topic {
    margin-bottom: 41px;
}

.title {
    display: flex;
    margin-bottom: 19px;
    justify-content: left;
    text-align: center;
}

.content {
    color: #444444;
    font-size: 18px;
    line-height: 28px;
} */