@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

 body {
    font-family: Roboto;
    
}

.container { 
    width: 80%;
    display: flex;
}

.-column { 
    flex-direction: column;
}

.-row {
    flex-direction: row;
}

header .container {
    display: grid;
    grid-template-columns: 213px auto 1fr;
    align-items: center;
    height: 80px;
    justify-content: center;
    box-sizing: border-box;
    margin: 0 auto;
}

header .container .menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

header .menu a {
    font-size: 16px;
    line-height: 19px;
    color: #111111;
    text-decoration: none;
}

header .menu a.active {
    font-weight: bold;
}

header .menu a + a { 
    margin-right: 30px;
}

header .filter {
    text-align: right;
}

header .filter form input {
    padding: 11px 110px 10px 15px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    box-sizing: border-box;
    line-height: 16px;
    font-size: 14px;
    color: #999999;
}

header .filter form button {
    font-weight: bold;
    padding: 9px 20px;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #6558C3;
    margin-left: 8px;
}



main {
    justify-content: center;
    display: flex;
}

#introduction {/* parte rosa da página inicial */
    margin-top: 36px;
    background-color: #FBDFDB;
    border-radius: 30px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#introduction h1 { /* "as melhores receitas" */
    padding: 117px 0 10px 60px;
    text-align: left;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    grid-row: 1 / 2;
}

#introduction p { /* restante do texto */
    max-width: 316px;
    padding: 0 0 117px 60px;
    text-align: left;
    color: #000000;
    opacity: 0.7;
    font-size: 18px;
    line-height: 28px;
    grid-row: 2 / 3;
}

#introduction img { /* imagem do bonequinho */
    width: 216px;
    height: 300px;
    grid-row: 1 / 3;
    text-align: right;
    padding-top: 66px;
    padding-right: 100px;
    padding-bottom: 0px;
    padding-left: 248px;    
}

.wrapper_recipes h2 {
    padding: 50px 0 30px 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #111111;
    text-align: left;
}

.cards_recipes,
.cards_chefs {
    padding-top: 50px;
}

.cards_chefs,
.cards_recipes {
    display: grid;
    column-gap: 20px; 
    box-sizing: border-box;
}

.cards_recipes {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 20px;
    margin-bottom: 50px;
}

.cards_chefs {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 30px;
}

.card_recipe {
    display: grid;
    grid-template-rows: 140px auto;
    row-gap: 20px;
}

.card_chef {
    display: grid;
    grid-template-columns: 64px 1fr;
    column-gap: 20px;
}

.card_recipe__image-container {
    max-height: 140px;
}

.card_chef__image-container {
    max-width: 64px;
    max-height: 64px;
}

.card_recipe__image-container img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.card_chef__image-container img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.card_recipe__content {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.card_chef__content {
    display: grid;
    grid-template-rows: 31px 32px;
    padding-top: 10px;
}

.card_chef__content p,
.card_recipe__content p {
    color: #111111;
    font-size: 18px;
    line-height: 21px;
}

.card_chef__content span,
.card_recipe__content span {
    color: #777777;
    font-size: 14px;
    line-height: 16px;
}

.cards_chefs#chefs
.cards_recipes#recipes {
    padding-top: 50px;
}


footer {
    margin-top: 200px;
    background-color: #EEEEEE;
    height: 62px;
    width: 100%;
    left: 0;
}

footer p {
    color: #999999;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    padding: 23px 23px;
}

/* === PAGE ABOUT === */
.logo-text a {
    font-family: Cochin;
    color: #111111;
    font-size: 28px;
    letter-spacing: 1.65px;
    line-height: 32px;
    text-decoration: none;
} 

main #sobre {
    padding-top: 20px;
}

main #sobre p,
main #como p,
main #receitas p {
    padding: 20px 0 30px 0;
    text-align: left;
    color: #444444;
    font-size: 18px;
    line-height: 28px;
}

#sobre h1 {
    text-align: left;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 20px;
}

#como h1,
#receitas h1 {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}
