{% extends "layout.njk" %}

{% block content %}

    <form class="card" method="POST" action="/teachers">
        <section class="avatar" style="background: url(https://source.unsplash.com/collection/8360382/500x500) no-repeat center center / cover"></section>
        <section class="details">

            <h3>Novo professor</h3>

            <div class="item">
                <div>Avatar URL</div>
                <div>
                    <input 
                        type="url" 
                        name="avatarUrl"
                        placeholder="http://"
                    >
                </div>
            </div>

            <div class="item">
                <div>Nome completo</div>
                <div>
                    <input 
                        type="text" 
                        name="name"
                        placeholder="Insira o nome completo do professor"
                    >
                </div>
            </div>

            <div class="item">
                <div>Data de nascimento</div>
                <div>
                    <input 
                        type="date" 
                        name="birth"
                    >
                </div>
            </div>

            <div class="item">
                <div>Grau de escolaridade</div>
                <select name="educationalLevel" placeholder="Selecione um nível">
                    <option value="highSchool">Ensino médio completo</option>
                    <option value="higherEducation">Ensino superior completo</option>
                    <option value="master">Mestrado</option>
                    <option value="doctorateDegree">Doutorado</option>
                </select>
            </div>

            <div class="item">
                <div>Tipo de aula</div>
                    <span class="typeOfClass"><input type="radio" name="typeOfClass" value="traditional" checked>Presencial</span>
                    <span class="typeOfClass"><input type="radio" name="typeOfClass" value="online">À distância</span>
            <div>

            <div class="item">
                <div>Área de atuação</div>
                    <div>
                        <input 
                            type="text" 
                            name="occupationArea"
                            placeholder="Separe a área de atuação por vírgulas">
                        </div>
                    </div>

            <button type="submit">Salvar</button>

        </section>
    </form>
{% endblock content %}