{% extends "desafio3-1_layout.njk" %}

{% block head %}
<title>Sobre | {{ about.name }}</title>

{% endblock%}

{% block content %}

        <div id="sobre">
            <h1>{{ about.name }}</h1>
            <img src="{{ about.avatar_url }};" alt=" Imagem de {{ about.name }}">
            <h2>{{ about.role }}</h2>
            <h3>{{ about.description }}</h3>
            <ul>{{ about.list }}</ul>
        </div>

        <div class="redes-sociais">
            {% for link in about.links%}
            <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
            {% endfor %}
        </div>

{% endblock %}    