{% extends "desafio3-1_layout.njk" %}

{% block error %}
    <title>Erro | Rocketseat</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block error2 %}

    <div id="erro">
        <h1>Erro 404: não foi encontrado nenhum conteúdo</h1>
        <img src="https://media.istockphoto.com/vectors/error-page-vector-illustration-vector-id1014104514?k=6&m=1014104514&s=170667a&w=0&h=xoRxxmTFqGLQNCgn1U_SAwPArxl5uRNlqhGsksG5qDg=" alt="Erro">
    </div>

{% endblock %}